<div class="card">
    <div class="flex flex-col gap-5 justify-center items-center">
        <div class="sumbitImg">
            <img src="/assets/images/illustration-thank-you.svg"
            width="150" height="150"
            />
        </div>
        <div class="rateResult">
            <p class="self-center">You selected {{recieveData}} out of 5</p>
        </div>
        <div class="thankyouText">
            <h1>Thank you!</h1>
            <p>We appreciate you taking the time to give a rating. 
                if you ever need more support, don't hesitate to get in touch! 
            </p>
        </div>
    </div>
</div>
